@media screen  and  (min-width: 967px)  {
   
 a.clock {
    padding-left: 15px;
}
}

@media screen    and (max-width: 494px){
   
    .heder-top-left a {
    text-decoration: none;
    padding: 0px;
    
}
    @media screen    and (max-width: 464px){
   
    .heder-top-left a {
    text-decoration: none;
    padding: 0px;
    font-size: 12px;
}
    a.top-button {
   
    padding: 5px;
    font-weight: 400;
    
}
}

@media screen    and (max-width: 429px){
   
    .heder-top{
        display: none;
    }
    
}
    
/*    end-header*/
    



@media screen and  (min-width: 450px) and (max-width: 575px){
    .single-about {
  padding-left: 25px;
}
    
}
@media screen and  (min-width: 300px) and (max-width: 450px){
    .single-about {
 padding-left: 25px;
}
    
}
@media screen and  (min-width: 765px) and (max-width: 960px){
    input.mt-2.box {
    width: 200px;
}
      .Message {
    width: 200px;
}
   
    
    
}
@media screen and  (min-width: 350px) and (max-width: 480px){
    input.mt-2.box {
    width: 150px;
}
      .Message {
    width: 150px;
}
    
    
}
@media screen and  (min-width: 280px) and (max-width: 350px){
    
    input.mt-2.box {
    width: 120px;
}
    .box-2 {
    width: 100px;
}
        .Message {
    width: 100px;
}
   
    
}
@media screen and  (min-width: 400px) and (max-width: 575px){
    .single-item.border-bottom.py-3 {
  padding-left: 40px;
}
    .Testimonial {
   padding-left: 40px;
}
 
    
}
@media screen and  (min-width: 300px) and (max-width: 399px){
    .single-item.border-bottom.py-3 {
    margin-left: 25px;
}
    .Testimonial {
    padding-left: 25px;
}
 
    
}
@media screen and  (min-width: 430px) and (max-width: 575px){
    .count{
      padding-left: 150px;
    }

    
}
@media screen and  (min-width: 350px) and (max-width: 430px){
    .count{
       padding-left: 100px;
    }

    
}
@media screen and  (min-width: 300px) and (max-width: 349px){
    .count{
        padding-left: 75px;
    }

    
}
@media screen and  (min-width: 766px) and (max-width: 991px){
   .staff-meta.text-center h3 {
    font-size: 20px;
}
}
    @media screen and  (min-width: 600px) and (max-width: 765px){
   .staff-meta.text-center h3 {
    font-size: 17px;
}
}



}
@media screen and  (min-width: 400px) and (max-width: 500px){
   .staff-meta.text-center h3 {
    font-size: 14px;
}
      .staff-meta.text-center p {
    font-size: 12px;
}
}

@media screen and  (min-width: 300px) and (max-width: 400px){
   .staff-meta.text-center h3 {
    font-size: 10px;
}
      .staff-meta.text-center p {
    font-size: 10px;
}
}
@media screen and  (min-width: 450px) and (max-width: 575px){
    input.footer-input {
    width: 400px;
    height: 50px;
    padding-left: 10px;
}

}
@media screen and  (min-width: 300px) and (max-width: 449px){
    input.footer-input {
    width: 250px;
    height: 50px;
    padding-left: 10px;
}
    button.btn.btn-secondary.footer-button {
    margin: 0px 10px;
    padding: 0px 10px;
}

}

@media screen and  (min-width: 518px) and (max-width: 766px){

 ul.first-help {
    list-style: none;
    margin: 0px;
}

}
@media screen and  (min-width: 440px) and (max-width: 517px){

 ul.first-help {
    list-style: none;
    margin: -10px;
}

}
@media screen and  (min-width: 380px) and (max-width: 439px){

 ul.first-help {
    list-style: none;
    margin: -18px;
     padding-bottom: 10px;
}

}
@media screen  and (max-width: 380px){

 ul.first-help {
    display: none;
   
}

}
@media screen and  (min-width: 300px) and (max-width: 576px){
    .footer-bottom {
    padding-left: 30px; 
}
    .botn-footer{
     padding-left: 30px; 
}




}
@media screen and  (min-width: 430px) and (max-width: 575px){
.grid {
    padding-left:50px;
}

}

@media screen and (max-width: 960px){

    .carousel-caption.d-none.d-md-block.title-text.text-left {
    margin-bottom: 100px;
}
    .carousel-caption.d-none.d-md-block.title-text.text-right{
        margin-bottom: 100px;
    }
    
    
}
@media screen and  (min-width: 400px) and (max-width: 493px){
    div#scrollTop {

}


}

